---
ip: "192.168.10.10"
memory: 2048
cpus: 1
hostname: 2017-timestamp-web
name: 2017-timestamp-web
provider: virtualbox

authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
    - map: "/Users/tsubono/workspace/2017_timestamp_web"
      to: "/home/vagrant/2017-timestamp-web"

sites:
    - map: homestead.app
      to: "/home/vagrant/2017-timestamp-web/public"

databases:
    - homestead

# blackfire:
#     - id: foo
#       token: bar
#       client-id: foo
#       client-token: bar

# ports:
#     - send: 50000
#       to: 5000
#     - send: 7777
#       to: 777
#       protocol: udp
