.modal-content{
  border: 5px solid #333;
  min-height: 300px;
  .loading{
    margin-top: 110px;

  }
}


#statusModal{
  .controlHeader{
    margin: 3em 1em;
    text-align: left;
    height: 6em;
    border-bottom: solid 3px #00B8EE;
    ul{
      li{
        display: inline-block;
      }
    }
    button[type=submit]{
      border: none;
      background: rgba(0, 0, 0, 0);
    }
  }

  .modalBody {
    margin-bottom: 4em;
    .profile{
      img{
        display: block;
        margin-top:2em;
        //width: 50%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .textLabel{
      font-size: 2em;
      font-weight: bold;
      letter-spacing: 5px;
    }

    .statusText{
      img{
        vertical-align: top;
        height: 2.5em;
      }
    }
    .title{
      font-size: 1.5em;
      margin: 1em 0;
    }
    .timecard{
      font-size: 1.5em;
      border-bottom: 1px solid gray;
      padding: .5em 0

    }
  }

  .modalBody .timecardListUnit{
    .container-fluid{
      height: 15em;
      overflow: scroll;
    }
  }

  .modalBody .timecardDetailUnit{
    .container-fluid{
      height: 15em;
      overflow: scroll;
    }
    .control{
      padding: 1em 0;
      a{
        text-decoration: none;
      }
    }

  }

}